* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

body {
    background-color: #d6f8f1;
}

li{
    list-style: none;
}

ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

.content {
    width: 100vw;
    height: auto;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

#content_pokedex{
    padding: 1rem;
}